set default="0"
set timeout="5"

search --no-floppy --set=root --file /bzImage

menuentry "UltraDisplay OS (System A)" {
    linux /bzImage root=/dev/sda2 rootwait console=tty1 earlyprintk=efi,keep loglevel=7
}

menuentry "UltraDisplay OS (System B)" {
    linux /bzImage root=/dev/sda3 rootwait console=tty1 earlyprintk=efi,keep loglevel=7
}
