set default="0"
set timeout="2"

menuentry "UltraDisplay OS (System A)" {
    linux /bzImage root=/dev/sda2 rootwait console=tty1 quiet loglevel=3
}

menuentry "UltraDisplay OS (System B)" {
    linux /bzImage root=/dev/sda3 rootwait console=tty1 quiet loglevel=3
}
